<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>StudentManager · Manage your students with ease!</title>
    <link rel="stylesheet" href="<%=Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item is-size-4" href="/">
          StudentManager
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-end">
        <div class="buttons">
          <%= if @conn.assigns.current_user do %>
            <%= link(@conn.assigns.current_user.email, to: "#", class: "navbar-item button is-light") %>
            <%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "navbar-item button is-primary" %>
          <% else %>
          <%= link "Sign in", to: Routes.pow_session_path(@conn, :new), class: "navbar-item button is-light" %>
          <%= link "Register", to: Routes.pow_registration_path(@conn, :new), class: "navbar-item button is-light" %>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="section">
      <main role="main" class="container">
        <%= if get_flash(@conn, :info) do %>
          <div class="notification is-success"><button class="delete"></button><%= get_flash(@conn, :info) %></div>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
          <div class="notification is-danger"><button class="delete"></button><%= get_flash(@conn, :error) %></div>
        <% end %>
        <%=render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script type="text/javascript" src="<%=Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
